.listContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
}

.utility {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.utility .searchArea {
	display: flex;
	gap: 10px;
	justify-content: center;
    max-width: 350px;
    width: 30%;
}

.utility .searchArea button {
	display: flex;
	justify-content: center;
}

.utility #searchInput {
    width: 100%;
}

.utility .utilityButtons {
    display: flex;
    gap: 5px
}

.utility button {
    color: white;
}

